.modal {
  position: absolute;
  top: 0;
  left: 0;
  
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;
  background-color: #0008;
}

.modal .message {
  padding: 24px;
  background-color: #fff;
  text-align: center;
}

.modal .message h3 {
  margin: 24px 54px;
  font-size: 36px;
}

.modal .message button {
  outline: none;
  cursor: pointer;

  padding: 6px;
  background-color: #222;
  border: 1px #222 solid;
  border-radius: 4px;

  color: #fff;
  font-size: 18px;
  
  transition: 0.3s;
}
.modal .message button:hover {
  background-color: #fff;
  color: #222;
}