@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&family=Ubuntu:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Cabin', serif;
  box-sizing: border-box;
  color: #222;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
}

#root {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-row: 1fr;

  width: 100%;
  min-height: 100vh;
}